@model User

@{
    ViewData["Title"] = "Profile";
}

@if (Model != null)
{ 
    <h1>User page</h1>
    <div>@Model.Id</div>
    <div>@Model.Name</div>
    <div>@Model.CreatedAt</div>
    <div>@Model.Address.Country</div>
    <img src="@Model.Avatar" alt="user.Name" />

    @if (Model.PostList.Count != 0)
    {
        <h3>Posts:</h3>
        @foreach (Post p in Model.PostList)
        {
            <h4>---<a asp-controller="post" asp-action="index" asp-route-Id="@p.Id"> @p.Title </a></h4>
            <div>----@p.CreatedAt</div>
            <div>----@p.Body</div>
            <div>----@p.Likes</div>
        }
    }
    else
    {
        <h3>User has no posts</h3>
    }
    <br />
    @if (Model.TodoList.Count != 0)
    {
        <h3>Todos:</h3>
        @foreach (Todo t in Model.TodoList)
        {
            <h4>----<a asp-controller="todo" asp-action="index" asp-route-Id="@t.Id">@t.Name</a> </h4>
            <div>----@t.CreatedAt</div>
            <div>----@t.IsComplete</div>
        }
    }
    else
    {
        <h3>User has no todos</h3>
    }
}
else
{
    <h1>Error</h1>
}