@model Post

@{
    ViewData["Title"] = "Post";
}

@if ( Model != null)
{
    <img src="@MyDB.Users.First(user => user.Id == Model.UserId).Avatar" />
    <h4>Title @Model.Title</h4>
    <div>@Model.CreatedAt</div>
    <div>Body: @Model.Body</div>
    <div>Likes: @Model.Likes</div>
    if(Model.CommentList.Count != 0)
    {
        <h3>Comments</h3>
        foreach(Comment c in Model.CommentList)
        {
            <div>-- @c.Body</div>
        }

    }
}
else
{
    <h1>Error</h1>
}
