@model UserInfo
@{
    ViewData["Title"] = "Query5";
}

<h2>Query5</h2>
<h4>
    Получить следующую структуру (передать Id пользователя в параметры)
    --User
    --Последний пост пользователя (по дате)
    --Количество комментов под последним постом
    --Количество невыполненных тасков для пользователя
    --Самый популярный пост пользователя (там где больше всего комментов с длиной текста больше 80 символов)
    --Самый популярный пост пользователя (там где больше всего лайков)
</h4>

@if (Model != null)
{
    if (Model.User != null)
    {
        <div><a asp-controller="query5" asp-action="index">Back</a></div>
        <table>
            <tr>
                <td>Name</td>
                <td> <a asp-controller="user" asp-action="index" asp-route-Id="@Model.User.Id"> @Model.User.Name</a></td>
            </tr>
            <tr>
                <td>Last Post</td>
                <td>
                    <a asp-controller="post" asp-action="index" asp-route-Id="@(Model.LastPost == null ? 0 : Model.LastPost.Id)">
                        @(Model.LastPost == null ? "no post" : Model.LastPost.Title)
                    </a>
                </td>
            </tr>
            <tr>
                <td>Last Post comms</td>
                <td>@(Model.LastPost == null ? "no comments" : Model.LastPost.CommentList.Count.ToString())</td>
            </tr>
            <tr>
                <td>Not completed:</td>
                <td>@Model.NotCompleteddTodo</td>
            </tr>
            <tr>
                <td>Most popular (comm.)</td>
                <td>
                    <a asp-controller="post" asp-action="index" asp-route-Id="@(Model.MostCommentsPost == null ? 0 : Model.MostCommentsPost.Id)">
                        @(Model.MostCommentsPost == null ? "no post" : Model.MostCommentsPost.Title)
                    </a>
                </td>
            </tr>
            <tr>
                <td>Most popular (likes)</td>
                <td>
                    <a asp-controller="post" asp-action="index" asp-route-Id="@(Model.MostLikesPost == null ? 0 : Model.MostLikesPost.Id)">
                        @(Model.MostLikesPost == null ? "no post" : Model.MostLikesPost.Title)
                    </a>
                </td>
            </tr>
        </table>
    }
    else
    {
        <div>no data</div>
        <div><a asp-controller="Query5" asp-action="Index">Back</a></div>
    }
}
else
{
    @using (Html.BeginForm("Index", "query5", FormMethod.Post))
    {
        <div>Enter id:</div>
        <input type="number" name="id" />
        <input type="submit" value="+">
    }
}